@mixin flex_container {
  width: 1300px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@mixin search {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  img {
    width: 32px;
    height: 32px;
  }
}

.container {
  padding: 110px 0 0 0;

  header {
    @include flex_container;
    font-family: 'Spoqa Han Sans';
    -webkit-font-smoothing: antialiased;
    h2 {
      font-size: 10px;
      font-weight: 100;
      color: #646464;
      padding-bottom: 8px;
    }
    h1 {
      font-size: 27px;
      font-weight: 900;
      color: #181d1f;
      padding-bottom: 8px;
      line-height: 40px;
    }
    .hashTag {
      font-size: 15px;
      color: #646464;
    }
    .data {
      margin-top: 15px;
      font-size: 15px;
      .dataTitle {
        color: #afafaf;
        margin-right: 5px;
      }
      span {
        margin-right: 15px;
        font-weight: 400;
      }
    }
  }

  .viewContent {
    @include flex_container;
    padding: 40px 0;
    font-size: 16px;
    .picture {
      position: relative;
      margin: 0 auto 12px;
      .mainImage {
        position: relative;
        display: inline-block;
        width: 800px;
        cursor: pointer;
      }
      .tag_1 {
        top: 777.6px;
        left: 327.267px;
        @include search;
      }
      .tag_2 {
        top: 510.4px;
        left: 284.067px;
        @include search;
      }
      .tag_3 {
        top: 460.8px;
        left: 154.467px;
        @include search;
      }
      .tag_4 {
        top: 240px;
        left: 333.667px;
        @include search;
      }
      .tag_5 {
        top: 328px;
        left: 720.867px;
        @include search;
      }
      .tag_6 {
        top: 308.8px;
        left: 474.467px;
        @include search;
      }
      .tag_7 {
        top: 558.4px;
        left: 156.067px;
        @include search;
      }
      .tag_8 {
        top: 564.8px;
        left: 444.034px;
        @include search;
      }
      .tag_9 {
        top: 275.2px;
        left: 199.267px;
        @include search;
      }
    }
    .wrapVertical {
      overflow: scroll;
      overflow: auto;
      white-space: nowrap;
      .subPicture {
        display: inline-flex;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin: 28px 6px;
        .subImage {
          position: relative;
          width: 106px;
          height: 106px;
          border-radius: 16px;
          border: 0.5px solid #aaafb9;
          user-select: none;
        }
      }
    }
  }
}
